button {
  width: 60px;
}

.my-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

select {
  position: relative;
}

option {
  position: absolute;
}

.error {
  color: red;
}
